.journey-form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 3.2rem;
  justify-items: center;
}

.journey-button {
  font-size: 1.6rem;
  width: clamp(300px, 66%, 600px);
  margin-bottom: 1.2rem;
}

.journey-text {
  font-size: 1.1rem;
}

.mat-card-title {
  color: var(--primary);
}

.mat-form-field {
  color: black;
}

.mat-card {
  margin-top: 2.4rem;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}
