<h3>{{ sectionHeading }}</h3>

<form [formGroup]="journeyForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="formField" appearance="fill">
    <mat-label>Distance to airport (in miles)</mat-label>
    <input matInput type="number" min="0" formControlName="distance" required />
    <mat-hint align="start">Must be greater than 0</mat-hint>
    <mat-error align="start">Not a number higher than 0</mat-error>
  </mat-form-field>

  <mat-form-field class="formField" appearance="fill">
    <mat-label>Number of passengers</mat-label>
    <input
      matInput
      type="number"
      min="1"
      formControlName="numPassengers"
      required
    />
    <mat-hint align="start">Must be a whole number greater than 0</mat-hint>
    <mat-error>Not a whole number greater than 0</mat-error>
  </mat-form-field>

  <p>Enter all the clues above, press submit and I will investigate</p>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!journeyForm.valid"
  >
    Investigate
  </button>
</form>

<div *ngIf="formSubmitting && !error">
  <p>Investigating...<mat-progress-bar></mat-progress-bar></p>
</div>

<h3 *ngIf="error">{{error}}</h3>

<div *ngIf="journeyMessage">
  <p>{{ journeyMessage }}</p>
</div>
