<h3>{{ sectionHeading }}</h3>

<div *ngIf="!airports">
  <p>Loading airports list...</p>
  <mat-spinner mode="indeterminate" diameter="20"></mat-spinner>
</div>

<form [formGroup]="routeForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="formField" appearance="fill">
    <mat-label>Departure Airport</mat-label>
    <mat-select
      formControlName="departureAirport"
      [disabled]="!airports"
      required
    >
      <mat-option *ngFor="let airport of airports" [value]="airport">
        {{ airport.name }}
      </mat-option>
    </mat-select>
    <mat-hint align="start">Select an airport</mat-hint>
  </mat-form-field>

  <mat-form-field class="formField" appearance="fill">
    <mat-label>Destination Airport</mat-label>
    <mat-select
      formControlName="destinationAirport"
      [disabled]="!airports"
      required
    >
      <mat-option *ngFor="let airport of airports" [value]="airport">
        {{ airport.name }}
      </mat-option>
    </mat-select>
    <mat-hint align="start">Select an airport</mat-hint>
  </mat-form-field>

  <mat-form-field class="formField" appearance="fill">
    <mat-label>Number of passengers</mat-label>
    <input
      matInput
      type="number"
      min="1"
      formControlName="numPassengers"
      required
    />
    <mat-hint align="start">Must be a whole number greater than 0</mat-hint>
    <mat-error>Not a whole number greater than 0</mat-error>
  </mat-form-field>

  <div>
    <mat-checkbox formControlName="calculateReturn" [checked]="calculateReturn"
      >Calculate return</mat-checkbox
    >
  </div>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!routeForm.valid"
    [disabled]="routeForm.value.departureAirport === routeForm.value.destinationAirport"
  >
    Investigate
  </button>
</form>

<div *ngIf="formSubmitting">
  <p>Investigating...<mat-progress-bar></mat-progress-bar></p>
</div>

<app-route-results
  *ngIf="routeDisplay!.outbound.journey.length"
  [routeResults]="routeDisplay"
></app-route-results>
