.route-form {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(3, 1fr) 30px 1fr;
  row-gap: 1.2rem;
  justify-items: center;
}

.form-field {
  width: clamp(300px, 40%, 500px);
  font-size: 1.1rem;
}

.route-button {
  font-size: 1.6rem;
  width: clamp(300px, 66%, 600px);
  margin-bottom: 1.2rem;
}

.checkbox {
  justify-self: start;
  align-self: flex-end;
}

.mat-form-field {
  color: black;
}
