.route-form {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 3.2rem;
  justify-items: center;
}

.checkbox {
  justify-self: start;
  align-self: center;
}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {
  width: 20px;
  height: 20px;
}

mat-checkbox ::ng-deep .mat-checkbox-label {
  font-size: 1.4rem;
}

.mat-form-field {
  color: black;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
  margin-top: 3.2rem;
}
