:root {
  --primary: #673ab7;
  --accent: #ffd740;
  --warn: #f44336;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
